/* Colors
Grayish: #EFEFEF
Dark GrayishL #A9A9A9
Pinkish Reddish: #FF3B3F
Light Baby Bluish: #CAEBF2
*/
html{
  min-height: 100%;
  position: relative;
}
/* Body */
body{
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: #CAEBF2;
  font-family: 'Roboto', sans-serif;
}
/* Footer */
footer{
  background-color: #7A9EA5;
  color: white;
  overflow: hidden;
  display: block;
  text-align: center;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0px -7px 10px rgba(0,0,0,0.42);
}
/* Footer Links */
footer a{
  text-decoration: none;
  color: white;
  padding: 16px 16px;
}
footer a:hover{
  color: black;
  font-weight: bolder;
  background-color: #D8978A;
}
.posted{
  color: gray;
  font-size: 14px;
}

.title{
}
/* alightLeft */
.align-left{
  text-align: left;
}
/* alightLeft */
.align-right{
  text-align: left;
}
/* Center */
.center{
  text-align: center
}
/* Navbar */
.navbar{
  background-color: #7A9EA5;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1;
  box-shadow: 0 4px 6px rgba(0,0,0,0.06),0 4px 6px rgba(0,0,0,0.42);
  opacity: 0.85;
}
/* Navbar Links */
.navbar a {
  text-align: center;
  float: right;
  color: white;
  text-decoration: none;
  padding: 16px 16px;
  font-size: 22px;
}
/* On Link Hover */
.navbar a:hover{
  color: black;
  background-color: #D8978A;
  font-weight: bold;
}
/* Logo */
#navbar-homelink{
  float: left; 
  font-size: 22px;
  color: black;
  font-weight: bolder;
}

.panel, .fullwidth-panel{
  background-color: white;
  display: inline-block;
  max-height: 100%;
  padding: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  max-width: 95%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.14), 0 4px 6px rgba(0,0,0,0.21);
  border-radius: 2px;
}
.panel:hover{
  /*  Implement something for hover maybe?  */
}
.fullwidth-panel{
  width: 95%;
  border-radius: 5px;
  border-color: black;
}
.title{
  color: #454A4C;
}
.lightpink{
  background-color: #F4B3CD;
}