/* Colors
Grayish: #EFEFEF
Dark GrayishL #A9A9A9
Pinkish Reddish: #FF3B3F
Light Baby Bluish: #CAEBF2
*/

html {
  min-height: 100%;
  position: relative;
}

/* Body */

body {
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: #CAEBF2;
  font-family: 'Roboto', sans-serif;
}

/* links elements on hover */

a:hover {
  font-weight: bold;
  color: black;
}

/* Footer */

footer {
  background-color: #7A9EA5;
  color: white;
  overflow: hidden;
  display: block;
  text-align: center;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.42);
}

/* Footer Links */

footer a {
  text-decoration: none;
  color: white;
  padding: 16px 16px;
}

footer a:hover {
  color: black;
  font-weight: bolder;
  background-color: #606F72;
}

.posted {
  color: gray;
  font-size: 14px;
}

/* alightLeft */

.align-left {
  text-align: left;
}

/* alightLeft */

.align-right {
  text-align: left;
}

/* Announcement Panel */

.announcement-panel {
  width: 60%;
}

/* Bold */

.bold {
  font-weight: bold;
}

/* Center */

.center {
  text-align: center
}

/* Navbar */

.navbar {
  background-color: #7A9EA5;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.42);
  opacity: 0.85;
}

/* Navbar Links */

.navbar a {
  text-align: center;
  float: right;
  color: white;
  text-decoration: none;
  padding: 16px 16px;
  font-size: 16px;
}

/* On Link Hover */

.navbar a:hover {
  color: black;
  /*   background-color: #D8978A; */
  background-color: #606F72;
  font-weight: bold;
}

.navbar-icon {
  display: none;
  font-weight: 900;
}

/* CSCB20 Logo Text */

#navbar-homelink {
  float: left;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel,
.fullwidth-panel,
.profile-panel,
.sylinfo-panel,
.assignment-panel,
.labs-panel {
  background-color: white;
  display: inline-block;
  max-height: 100%;
  padding: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  max-width: 95%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.14), 0 4px 6px rgba(0, 0, 0, 0.21);
  border-radius: 2px;
}

.panel:hover {
  color: white;
  background-color: #606F72;
}

.assignment-panel {
  max-width: 60%;
}

.profile-img {
  max-width: 400px;
  max-height: 400px;
}

.profile-links {
  text-decoration: none;
}

.profile-links:hover {
  color: black;
  font-weight: bold;
}

.profile-name-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-panel {
  max-width: 30%;
}

.profile-panel:hover {
  /*  Implement animation  */
}

.labs-panel {
  width: 20%;
  vertical-align: middle;
}

.profile-position-margin {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 400;
}

.fullwidth-panel {
  width: 95%;
  border-radius: 5px;
  border-color: black;
}

.sylinfo-panel {
  max-width: 40%;
  min-width: 40%;
  vertical-align: middle;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sylinfo-panel:hover {
  color: white;
  background-color: #606F72;
}

#pdf-panel:hover {
  color: white;
  background-color: #606F72;
  font-weight: bold;
}

.sylinfo a:hover {
  color: black;
  font-weight: bold;
}

.title {
  color: #454A4C;
}

.lightpink {
  background-color: #F4B3CD;
}

.hours-left {
  float: left;
  width: 50%;
}

.hours-right {
  float: right;
  width: 50%;
}

#office-hours {
  width: 60%;
}

/* Style for the go to top button */

#scroll-to-top {
  color: black;
  background-color: #F4B3CD;
  display: none;
  position: fixed;
  padding: 8px;
  font-size: 22px;
  z-index: 9999;
  vertical-align: bottom;
  cursor: pointer;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

#scroll-to-top:hover {
  background-color: #606F72;
  color: white;
  font-weight: 900;
}

.grayedout {
  background-color: #454A4C;
}

#assignment3 {
  opacity: 0.95;
}

.rounded {
  border-radius: 20px;
}

/* Screensize less than 970px */

@media screen and (max-width: 970px) {
  .labs-panel {
    width: 75% !important;
  }
  .profile-img {
    height: 50% !important;
    width: 50% !important;
  }
  .sylinfo-panel {
    max-height: 95% !important;
    max-width: 95% !important;
  }
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar.rsponsive a:not(:last-child) {
    display: none;
  }
  .navbar a {
    display: block;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 14px;
  }
  .navbar.responsive {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  .navbar.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .panel {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #calendar-iframe {
    max-width: 95%;
  }
}